services:
  spark-app:
    image: bitnami/spark
    container_name: spark-app
    user: "0:0"
    volumes:
      - .:/app
    working_dir: /app
    command: >
      bash -c "
      pip install --no-cache-dir loguru &&
      /opt/bitnami/spark/bin/spark-submit
      --master local[*]
      /app/main.py
      "

