
version: "3.8"

services:
  spark-iceberg:
    image: tabulario/spark-iceberg
    user: "0:0"
    container_name: spark-iceberg-app
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
    volumes:
      - .:/app
      - ./warehouse:/home/iceberg/warehouse
    working_dir: /app
    entrypoint: ""
    command: >
      bash -c "
      pip install --no-cache-dir loguru openpyxl pandas &&
      /opt/spark/bin/spark-submit
      --packages org.apache.iceberg:iceberg-spark-runtime-3.3_2.12:1.3.1
      --conf spark.sql.extensions=org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
      --conf spark.sql.catalog.local=org.apache.iceberg.spark.SparkCatalog
      --conf spark.sql.catalog.local.type=hadoop
      --conf spark.sql.catalog.local.warehouse=/home/iceberg/warehouse
      /app/main.py
      "

