services:
  spark-master:
    image: bitnami/spark:3.5.1
    user: "0:0"
    mem_limit: 64g
    environment:
      - SPARK_MODE=master
      - JAVA_TOOL_OPTIONS=-Duser.name=root -Duser.home=/tmp
      - HADOOP_USER_NAME=root
    network_mode: "host"
    # networks: [sparknet]

  spark-worker-1:
    image: bitnami/spark:3.5.1
    network_mode: "host"
    user: "0:0"
    mem_limit: 64g
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=6g
      - JAVA_TOOL_OPTIONS=-Duser.name=root -Duser.home=/tmp
      - HADOOP_USER_NAME=root
    volumes:
      - ./:/app:rw
    depends_on: [spark-master]
    # networks: [sparknet]

  spark-worker-2:
    image: bitnami/spark:3.5.1
    network_mode: "host"
    user: "0:0"
    mem_limit: 64g
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=6g
      - JAVA_TOOL_OPTIONS=-Duser.name=root -Duser.home=/tmp
      - HADOOP_USER_NAME=root
    volumes:
      - ./:/app:rw
    depends_on: [spark-master]
    # networks: [sparknet]

  submit:
    image: bitnami/spark:3.5.1
    user: "0:0"
    working_dir: /app
    volumes:
      - ./:/app:rw
    environment:
      - JAVA_TOOL_OPTIONS=-Duser.name=root -Duser.home=/tmp
      - HADOOP_USER_NAME=root
      - HOME=/tmp
      - PYSPARK_PYTHON=python3
    entrypoint:
      - spark-submit
      - --master
      - spark://spark-master:7077
      - --deploy-mode
      - client
      #- --conf
      #- spark.dynamicAllocation.enabled=false
      #- --conf
      #- spark.executor.instances=2
      #- --conf
      #- spark.executor.cores=1
      - --conf
      - spark.executor.memory=4g
      - --conf
      - spark.executor.memoryOverhead=6g
      - --conf
      - spark.driver.memory=4g
      #- --conf
      #- spark.executor.instances=2
      - local:///app/main.py
    depends_on: [spark-master, spark-worker-1, spark-worker-2]
    #network_mode: "host"
    networks: [sparknet]

    # TODO admin panel workers

networks:
  sparknet: {}

